@charset "utf-8";
/*----Global----*/
body {
	font-family: "Comic Sans MS", serif;
	padding: 0;
	margin: 0;
	background-image: url(../Staging/images/page_background.jpg);
}

p, h1, h2, h3, h4, h5, h6, li {
	margin: 1ex 1em;
	
}

/*----OuterDiv Wrap----*/
#outerDiv {
	width: 770px;
	margin: 0 auto;
	
}

/*----Header----*/
#outerDiv #header {
	height: 200px;
	position: relative;
	background: url(../Staging/images/blue-water-background-website-header.jpg) no-repeat;
}

#outerDiv #header h1 {
	text-align: center;
	color: #FFFFFF;
	height: 0.8em;
}
#outerDiv #header #homeHead {
	padding-top: 4px;
}

#outerDiv #header #aboutHead {
	padding-top: 40px;
	padding-bottom: 10px;
}

#outerDiv #header #contactHead {
	padding-top: 40px;
	padding-bottom: 10px;
}

#outerDiv #header #charityHead {
	padding-top: 40px;
	padding-bottom: 10px;
}

#outerDiv #header h2 {
	color: #FFFFFF;
	text-align: center;
}

/*----Main Navigation----*/
#outerDiv #header #mainMenu {
	position: relative;
	bottom: 0px;
}

#mainMenu #nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#mainMenu #nav li {
	display: inline;
}

#mainMenu li a:link, #mainMenu li a:visited {
	display: inline-block;
	text-decoration: none;
	line-height: 25px;
	color: #fff;
	border: none;
}

#mainMenu li a:hover, #mainMenu li a:active {
	text-shadow: 0px 3px #111111;
	color: #FFFFFF;
}

#mainMenu li a.current {
	text-decoration: underline;
	font-weight: bolder;
}

#mainMenu li a.current:hover {
	cursor: default;
}

#header hr {
	width: 90%;
}
/*----Main Content----*/
 section #Sec1 {
	width: 75%;
	float: left;
	padding: 0 15px;
	margin: 0 0 0 0;
	position: absolute;
	top:auto;
	left:auto;
	bottom:auto;
	right:auto;
	}
section #charitySec1 p {
	text-indent: 15px;
}
section #about {
	margin: 0 0;
	padding: 0 15px;
	float: left;
	text-indent: 15px;
}
#outerDiv #contact  {
	margin: 0 0;
	padding: 0 15px;
	float: left;
	text-indent: 15px;
}
#contact form  {
	float: left;
	text-align: right;
	position: relative;
}


/*----SideBar----*/
#mainContent #Sec2 {
	float: right;
	width: 25%;
	padding: 0 10px;
	margin: 0 0 0 0;
	border-left: solid #aaa 1px;
	}

#mainContent #Sec2 #Certs {
	width: 200px;
}

#mainContent #Sec2 h3 {
	text-align: center;
}

table.center {
	margin-left: auto;
	margin-right: auto;	
}

table tbody .tableImage {
	padding-top: 5px;
	padding-left: 0px;
}
table tbody .tableHead {
	font-style: italic;
	font-weight: bold;
	font-size: small;
	text-align: center;
	padding-bottom: 5px;
}

#Sec2 table tbody {
	border-style: none;
}

#Sec2 table .tableHeader {
	font-style: normal;
	font-variant: small-caps;
	font-weight: bolder;
	text-align: center;
	font-size: large;
}

#mainContent #Sec2 #Certs {
	float: right;
}
/*----Footer----*/
#foot  {
	clear: both;
	background: transparent;
}
#foot p  {
	font-family: "Comic Sans MS", serif;
	font-size: .75em;
	color: #000000;
	padding: 0;
	margin: 0;
	text-align: center;
}
#foot a  {
	text-decoration: none;
	color: #000000;
	border: none;
}
